<div ng-controller="mainCtrl" class="tags-controller">
  <div class="container">
    <div class="signup-container">
      <h2>Sign Up</h2>
      <form ng-submit="getNewUser()">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
    </div>
  </div>
</div>
